.friendCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    border: 3px solid black;
    border-radius: 8px;
    height: 260px;
    padding: 0 18px 0 18px;  
    list-style: none;
}
.friendAva {
    width: 120px;
    padding: 0;
}
.friendName {
    font-size: 35px;
    font-family: 'Arial';
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.friendIsOnline {
    font-size: 25px;
    font-family: 'Arial';
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.friendIsOnlineTrue {
    color: #006400;
   
    padding: 0;
}
.friendIsOnlineFalse {
    color: #ba0404;
    padding: 0;
}
