
.feedbackBox {
display: flex;
flex-direction: column;
align-items: start;
/* justify-content: center;
border: 4px solid black;
border-radius: 8px; */
padding: 10px 0;
margin: 0;
background-color: #f6f9fb;
width: 100%;
list-style: none;
gap: 10px;
font-family: 'Arial';
font-weight: 500;
font-size: 15px;
}

.fedbackItem {
    padding: 0;
    margin: 0;
}
p {
    padding: 0;
    margin: 0;
}
/* .profCardUserData {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.profCardImg {
    display: block;
    max-width: 220px;
    margin-bottom: 40px;
    border-radius: 50%;
    background-color: #232525;
}    
.profCardName {
    font-size: 45px;
    font-family: 'Arial';
    font-weight: 700;
    padding: 0;
    margin-bottom: 25px;
    margin-top: 0;
}

.profcardTag {
    font-size: 40px;
    font-family: 'Arial';
    font-weight: 400;
    color: #908f8f;
    margin-bottom: 20px;
    margin-top: 0;
}
.profCardLocation {
    font-size: 40px;
    font-family: 'Arial';
    font-weight: 400;
    color: #908f8f;
    margin-bottom: 35px;
    margin-top: 0;
    padding: 0;
}
.profCardStats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 140px;
    border-top: 4px solid #757373;    
    background-color: #c6c2c2;
    margin: 0;
    padding: 0;
    list-style: none;
}
.profCardStatsItem {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
}
.profCardStatsItem:not(:last-child) {    
    border-right: 4px solid #757373;     
}
.profCardStatsItemName {
    display: flex;
    font-size: 35px;
    font-family: 'Arial';
    font-weight: 400;
    color: #262525;
    margin: 0;
    padding: 0;
}
.profCardStatsItemValue {
    display: flex;
    font-size: 35px;
    font-family: 'Arial';
    font-weight: 600;
    color: #262525;
    margin: 0;
    padding: 0;
} */