table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #151415;
  }
  
  thead th:nth-child(1) {
    width: 33.333%;
  }
  
  thead th:nth-child(2) {
    width: 33.333%;
  }
  
  thead th:nth-child(3) {
    width: 33.333%;
  }
  th,
  td {
    padding: 10px;
  }
  html {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
  }
  
  thead th {
    font-family: "arial";
    font-size: 22px;
    color: #f0f2f4;
    background-color: #424142;
  }
  
  th {
    letter-spacing: 2px;
    border: 3px solid #151415;
  }

  td {
    /* letter-spacing: 0.5px; */
    font-family: "arial";
    font-size: 17px;
    font-weight: 600;
    border: 3px solid #151415;
    /* justify-content: center;
    align-content: center;
    align-items: center; */
    text-align: center;
  }
  
  /* tbody tr {    
    
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: left;
  } */

  /* zebra striping */

tbody tr:nth-child(odd) {
    background-color: #f3f5f6;
  }
  
  tbody tr:nth-child(even) {
    background-color: #c1bcc1;
  }

  /* tbody td:nth-child(1) {
    padding-left: 10%;
  }
  tbody td:nth-child(2) {
    padding-left: 13.5%;
  }
  tbody td:nth-child(3) {
    padding-left: 14%;
  } */